<% @articles.each do |article| %>
<tr>
  <td scope="row"><%= article.id %></th>
  <td><%= article.title %></td>
  <td><%= article.body %></td>
  <td>
    <%= link_to 'Show', article %>
  </td>
</tr>
<% end %>