<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table id="records_table" class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'page_items' %>
  </tbody>
</table>

<div id="div_next_link">
  <%= render partial: 'next_link' %>
</div>

<%= link_to 'New Article', new_article_path %>

<% content_for :page_scripts do %>
  <script>
    var loadNextPage = function(){
      if ($('#next_link').data("loading")){ return }  // prevent multiple loading
      var wBottom  = $(window).scrollTop() + $(window).height();
      var elBottom = $('#records_table').offset().top + $('#records_table').height();

      if (wBottom > elBottom){
        $('#next_link')[0].click();
        $('#next_link').data("loading", true);
      }
    };

    document.addEventListener('resize', loadNextPage);
    document.addEventListener('scroll', loadNextPage);
    document.addEventListener('load',   loadNextPage);
  </script>
<% end %>
